* {

}

body {
    background-color: grey;
}

.main {
    border: 8px solid;
    background-color: antiquewhite;
    padding: 10px;
    text-align: center;

}

.main section {
    display: flex;
    flex-direction: column;
}
